<a href="https://colab.research.google.com/github/ThobMvuni/hello-world/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions

Answer the questions and perform any additional analysis you think will help you understand what's going on in the data. You will be required to present your work, you can use this notebook or create slides based on your analysis. Whatever youâ€™re comfortable with is fine with us.

The section headings below are only a guide and this notebook should be modified as you see fit.

# 1. Data processing

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Pull data from data.csv
import pandas as pd
path = "/content/drive/MyDrive/data.csv"
df = pd.read_csv(path)
df.describe

<bound method NDFrame.describe of                                 Country                 Region  Population  \
0                           Afghanistan  Eastern Mediterranean       29825
1                               Albania                 Europe        3162
2                               Algeria                 Africa       38482
3                               Andorra                 Europe          78
4                                Angola                 Africa       20821
..                                  ...                    ...         ...
189  Venezuela (Bolivarian Republic of)               Americas       29955
190                            Viet Nam        Western Pacific       90796
191                               Yemen  Eastern Mediterranean       23852
192                              Zambia                 Africa       14075
193                            Zimbabwe                 Africa       13724

     Under15  Over60  FertilityRate  LifeExpectancy  ChildMortality  \
0      47.42    3.82           5.40              60            98.5
1      21.33   14.93           1.75              74            16.7
2      27.42    7.17           2.83              73            20.0
3      15.20   22.86            NaN              82             3.2
4      47.58    3.84           6.10              51           163.5
..       ...     ...            ...             ...             ...
189    28.84    9.17           2.44              75            15.3
190    22.87    9.32           1.79              75            23.0
191    40.72    4.54           4.35              64            60.0
192    46.73    3.95           5.77              55            88.5
193    40.24    5.68           3.64              54            89.8

     CellularSubscribers  LiteracyRate      GNI  PrimarySchoolEnrollmentMale  \
0                  54.26           NaN   1140.0                          NaN
1                  96.39           NaN   8820.0                          NaN
2                  98.99           NaN   8310.0                         98.2
3                  75.49           NaN      NaN                         78.4
4                  48.38          70.1   5230.0                         93.1
..                   ...           ...      ...                          ...
189                97.78           NaN  12430.0                         94.7
190               143.39          93.2   3250.0                          NaN
191                47.05          63.9   2170.0                         85.5
192                60.59          71.2   1490.0                         91.4
193                72.13          92.2      NaN                          NaN

     PrimarySchoolEnrollmentFemale
0                              NaN
1                              NaN
2                             96.4
3                             79.4
4                             78.2
..                             ...
189                           95.1
190                            NaN
191                           70.5
192                           93.9
193                            NaN

[194 rows x 13 columns]>

In [5]:
#Pulled first five datasets
df = pd.read_csv(path)
df.head()

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,Afghanistan,Eastern Mediterranean,29825,47.42,3.82,5.40,60,98.5,54.26,NaN,1140.0,NaN,NaN
1,Albania,Europe,3162,21.33,14.93,1.75,74,16.7,96.39,NaN,8820.0,NaN,NaN
2,Algeria,Africa,38482,27.42,7.17,2.83,73,20.0,98.99,NaN,8310.0,98.2,96.4
3,Andorra,Europe,78,15.20,22.86,NaN,82,3.2,75.49,NaN,NaN,78.4,79.4
4,Angola,Africa,20821,47.58,3.84,6.10,51,163.5,48.38,70.1,5230.0,93.1,78.2

In [7]:
#Checked for missing in the entire dataset using isnull
#True = missing False = not missing
df.isnull()

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,False,False,False,False,False,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,True,True
2,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,True,False,False,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,False,False,False,False,False,False,False,False,False,True,False,False,False
190,False,False,False,False,False,False,False,False,False,False,False,True,True
191,False,False,False,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,True,True,True

In [8]:
#Also used isna() to check for missing True= missing False=not missing
df.isna()

,Country,Region,Population,Under15,Over60,FertilityRate,LifeExpectancy,ChildMortality,CellularSubscribers,LiteracyRate,GNI,PrimarySchoolEnrollmentMale,PrimarySchoolEnrollmentFemale
0,False,False,False,False,False,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,True,True
2,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,True,False,False,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,False,False,False,False,False,False,False,False,False,True,False,False,False
190,False,False,False,False,False,False,False,False,False,False,False,True,True
191,False,False,False,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,True,True,True

In [12]:
#Evaluated row/column had any missing value from dataset
df.isnull().any()

Country                          False
Region                           False
Population                       False
Under15                          False
Over60                           False
FertilityRate                     True
LifeExpectancy                   False
ChildMortality                   False
CellularSubscribers               True
LiteracyRate                      True
GNI                               True
PrimarySchoolEnrollmentMale       True
PrimarySchoolEnrollmentFemale     True
dtype: bool

In [14]:
df.isnull().any(axis=1)

0       True
1       True
2       True
3       True
4      False
       ...
189     True
190     True
191    False
192    False
193     True
Length: 194, dtype: bool

In [16]:
#Evaluated the sum in colums/rows for any possible missing value in data.csv
df.isnull().sum()

Country                           0
Region                            0
Population                        0
Under15                           0
Over60                            0
FertilityRate                    11
LifeExpectancy                    0
ChildMortality                    0
CellularSubscribers              10
LiteracyRate                     91
GNI                              32
PrimarySchoolEnrollmentMale      93
PrimarySchoolEnrollmentFemale    93
dtype: int64

In [18]:
#Checked values that not missing
df.count()

Country                          194
Region                           194
Population                       194
Under15                          194
Over60                           194
FertilityRate                    183
LifeExpectancy                   194
ChildMortality                   194
CellularSubscribers              184
LiteracyRate                     103
GNI                              162
PrimarySchoolEnrollmentMale      101
PrimarySchoolEnrollmentFemale    101
dtype: int64

In [19]:
#Total count
df.count(axis=1)

0      10
1      10
2      12
3      10
4      13
       ..
189    12
190    11
191    13
192    13
193    10
Length: 194, dtype: int64

In [23]:
#Analyzed the data and I used fertility Rate(numerical value)to find mode
df['FertilityRate'].isnull().mode()

0    False
dtype: bool

In [24]:
#Checked mean for dataset
df['FertilityRate'].isnull().mean()

0.05670103092783505

In [34]:
#After evaluating all data the GNI category was common missing value
df['FertilityRate'].fillna('GNI')

0       5.4
1      1.75
2      2.83
3       GNI
4       6.1
       ...
189    2.44
190    1.79
191    4.35
192    5.77
193    3.64
Name: FertilityRate, Length: 194, dtype: object

# 2. Exploratory data analysis

# 3. Conclusion and insights